.disciplina {
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid salmon;
    border-radius: 100px;
    text-align: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
    width: 40vh;
}

img {
    cursor: grab;
}

.disciplina:hover {
    background-color: rgba(88, 61, 61, 0.281);
    border-radius: 50px;
}